@model BooksListViewModel

<h1>@Model.HeaderOfThePage</h1>
<br />
@foreach (var book in Model.Books)
{
    <div>
        <h3>@book.Title</h3>
        <h4>@book.Author</h4>
        <h4>@book.ISBN</h4>
        <h4>@book.LastRentalDate</h4>
        <h4>@book.BorrowerName</h4>
        <br />
    </div>
}